<div class="catalog-title">
<h1>Il nostro Catalogo</h1>
</div>
<div class="container">
    <div *ngFor="let product of products" class="item-card" [routerLink]="['/detail', product.id]">
        <div class="img">
            <img [src]="getImgPath(product.image)" alt="" class="product-image">
        </div>
        <div class="detail">
            <div class="title">
                {{product.title}}
            </div>
            <div class="author">
                {{product.author}}
            </div>
            <div class="category">
                {{product.category}}
            </div>
            <div class="price">
                {{product.price}} €
            </div>
        </div>
    </div>
</div>